
header, h3 {
    text-align: center;
}

div.menu-n-intro {
    display: flex;
    flex-direction: row-reverse;
}
div.menu {
    flex: 25%;
}
div.intro {
    flex: 75%;
}
@media screen and (max-width: 660px) {
    div.menu-n-intro {
        display: block;
    }
}

a:link {
    color: blue;
}
a:hover {
    color: black;
}
a:active {
    color: orange;
}
a:visited {
    color: darkblue;
}

article {
    margin: 50px 25px;
}

table {
    width: 100%;
}
th {
    width: 50%;
    text-align: center;
}
td {
    padding: 4px;
}
table, th, td {
    border: 1px solid;
}

footer div.bottom-row {
    display: flex;
    background: lightgrey;
}
footer div.aux-info {
    flex: 75%;
}
footer div.w3c-mark {
    flex: 15%;
    margin: auto;
    text-align: center;
}

/* syntax highlight */
key {
    color: darkcyan;
}
